@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Montserrat:wght@700&family=Poppins:wght@500;600;700;800&family=Ubuntu&family=Work+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Work Sans', sans-serif; */
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

:root {
    --heading: #282828ee;
    --para: #777;
    --helper: #e13232;
    --white: #fff;
    /* With the help of both methods background-color can be applied */

    /* --background-color: #282828; */
    --bg: #282828;
    --black: #212529;
}

h1,h2,h3,h4,h5 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    font-size: 1.7rem;  
}

ul {
    list-style: none;
}

header {
    width: 100%;
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width:80%;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
   margin: 0 1rem;
   color: var(--black);
   padding: 1rem 2.5rem;
   border-radius: 50px;
}

.nav-bar ul li a:hover {
    color: var(--white);
    background-color: var(--helper);
}

.nav-bar ul li a.active {
    color: var(--white);
    background-color: var(--helper);
}

@media screen and (max-width: 900px){
   
    header {
     padding: 0 1.8rem;
    }
   
    .hamburger {
    display: block;
    cursor: pointer;
   }

   .hamburger .line_border {
    border: 3px solid var(--black);
    padding: 1rem 1.8rem;
    border-radius: 5px;
}

   .hamburger .line {
        width: 35px;
        height: 3px;
        background-color: var(--black);
        margin: .5rem 0;
   }

   .nav-bar {
    height: 0px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--bg);
    transition: all .4s linear;
    overflow: hidden;
   }

   .nav-bar.active {
    height: 400px;
   }
   .nav-bar ul {
    width: fit-content;
    display: block;
    margin: 65px auto 0 auto;
    text-align: center;
    transition: all .4s ease-in-out;
    opacity: 0;
    z-index: 999;
   }
   
   .nav-bar.active ul {
    opacity: 1;
   }

   .nav-bar ul li a {
    color: var(--white);
    margin-bottom: 1rem;
    float: left;
    width: 100%;
   }
}